.container-concessions { 
  padding: 1rem 2rem;
}

.container-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}

.container-logos a img{
  width: 200px;
  border-radius: 10px;
}

