#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1f1f1f;
}

#navbar div a {
 font-size: 70px;
}

#navbar div a:hover {
  font-size: 80px;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#navbar h2 a img {
  max-width:500px;
  max-height:300px;
  width: auto;
  height: auto;
  padding-left: 100px;
}

#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar form button {
  background-color: #FF5757;
  border: 2px solid #FF5757;
  border-radius: 4px;
  color: #000;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

#navbar form button:hover {
  background-color: transparent;
  color:#B23232;
  border: 4px solid #B23232;
  font-size: 1.5;
}